.btn {
  padding: 5px 15px;
  background: #F2F2F2;
  margin-bottom: 30px;
  border: none;
  color: #AEAEAE;
  cursor: pointer;
  min-height: 50px;

  img {
    max-width: 40px;
  }
  span {
    margin: auto 0 auto 15px;
  }
}