@import url('http://fonts.cdnfonts.com/css/gotham');
@import "buttons";
@import "inputs";

body {
  font-family: 'Gotham', sans-serif;
}

* {
  box-sizing: border-box;
}

#app {
  max-width: 756px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 3rem;
  text-align: center;
  font-weight: bold ;
  margin: 1.5rem 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.margin-t-auto {
  margin-top: auto;
}

.container--main {
  display: flex;
  flex-direction: column;
  padding: 0 20px 40px;

  justify-content: center;

  min-height: 80vh;
  max-height: 700px;

  @media all and (max-width: 350px) {
    max-height: 600px;
  }

  .title-m {
    font-size: 1.5rem;
    .subtitle {
      margin-top: 20px;
    }
  }

  .subtitle {
    font-size: 0.8rem;
  }
}


.registration-step {
  display: none;
}

.show {
  display: block;
}

